<head>
    <title>{{ site.title }}</title>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {%- include tools/favicons.html -%}
    
    <link rel="canonical" href="{{ page.url }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/css/uikit.min.css" />
    <link rel="stylesheet" href="https://use.typekit.net/tpm2hey.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.url }}/css/style.css"  />

    {% seo %}
</head>